input {
    transform: scale(1.4);
}

/* .form-row {
    margin-top: 8px;
    margin-bottom: 4px;
} */

img {
    height: 70vh;
    width: 82vw;
    margin: 10px auto 30px auto;
}

.headline {
    color: white;
    /* color: #007BFF; */
}

/* Stretch buttons evenly across the window */
.btn-group {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

/* Put margin between share size calc Button and check and reset button. Has to be put for each id, because a class wouldn't work */
#shareSizeCalcBtn_CP {
    margin-left: 15px;
}

#shareSizeCalcBtn_2LM {
    margin-left: 15px;
}

#shareSizeCalcBtn_BO {
    margin-left: 15px;
}
#shareSizeCalcBtn_BS {
    margin-left: 15px;
}
#shareSizeCalcBtn_34BP {
    margin-left: 15px;
}

.sscPricesInput {
    margin-left: 50px;
    margin-top: 10px;
}

.sscPrices {
    margin-left: 50px;
    margin-top: 10px;
}

.sscLabels {
    margin-top: 10px;
}

#sscInputs {
    margin-top: 40px;
    margin-bottom: 40px;
}